@function --apply-shadow(--color <color>) {
  --blur: 4px;
  result: --build-shadow();
}

@function --build-shadow() {
  result: 0 2px var(--blur) var(--color);
}

@function --double(--value <length>) returns <length> {
  result: calc(var(--value) * 2);
}

@function --space-plus-gap(--value <length>) returns <length> {
  result: calc(var(--value) + var(--gap));
}
